/* Common style */
* {
    margin: 0;
    padding: 0;
}

/* Header style starting*/

.search-button {
    background-color: #FF589B;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
}

.search-button:hover {
    background-color: #FF9C35;
}

.nav-link:hover {
    color: black;
}

/* Header style Ending */