/* Common style */
* {
    margin: 0;
    padding: 0;
}

/* Header style starting*/

.search-button {
    background-color: #FF589B;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
}

.search-button:hover {
    background-color: #FF9C35;
}

.nav-link:hover {
    color: black;
}

/* Header slider section */
.top-banner {
    background-color: #FEEAE9;
}

.slider-info h1 {
    margin-bottom: 30px;
}

.slider-info p {
    color: #4E4E4E;
    font-weight: 500;
}

.slider-info h2 {
    color: #f91a73;
    margin-bottom: 20px;
}

.slider-info .btn {
    background-color: #f91a73;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px 20px;
}

/* Header style Ending */

/* Categories section starting */

.categorie-item-1 {
    background-color: #FF9C35;
    color: #FFFFFF;
}

.categorie-item-1 img {
    width: 90px;
}

.categorie-item-2 {
    background-color: #f91a73;
    color: #FFFFFF;
}

.categorie-item-2 img {
    width: 90px;
}

.categorie-item-3 {
    background-color: #4289FF;
}

.categorie-item-3 img {
    width: 90px;
}

/* Categories section Ending */

/* Media Quary */

@media screen and (max-width:576px) {
    .carousel-item .row {
        flex-direction: column-reverse;
        text-align: center;
    }

    .carousel-item .row .col img {
        margin-bottom: 15px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .carousel-item .row {
        flex-direction: column-reverse;
    }

    .carousel-item .row .col img {
        margin-bottom: 15px;
    }
}